name: Documentation

on:
  push:
    paths:
      - "docs/**"
      - "**/*.md"
  pull_request:
    paths:
      - "docs/**"
      - "**/*.md"

jobs:
  markdown-lint:
    name: Markdown Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Markdown Lint
        uses: davidanson/markdownlint-cli2-action@v16
        with:
          globs: |
            docs/*.md
            docs/**/*.md
            README.md
            CONTRIBUTING.md
            working/**/*.md
